.percentage-label {
  text-wrap: nowrap;
  background-color: hsl(188, 53%, 27%, 0.5);
  padding: 0.25rem;
  color: var(--blw-gray200);
  font-size: 1.2rem;
  border-radius: 50%;
  border: 1px solid var(--blw-gray900);
}