fieldset {
  border-width: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
}

label {
  display: block;
  width: 100%;
}

input[type="radio"] {
  width: 0.6rem;
  height: 0.6rem;
  margin-right: 0.25rem;
  color: var(--color-text);
  border: 0.15rem solid var(--color-text);
  border-radius: 30%;
}


input[type="radio"]:checked {
  background-color: skyblue;
}