.poll-display {
  flex: 0 0 auto;
  overflow: clip;
  position: relative;
  top: 0;
  background-color: var(--blw-gray300);
}

.poll-display.open {
  flex: 1 1 auto;
  overflow: auto;
}


.user-poll {
  overflow: auto;
  font-size: 0.9rem;
}

.poll-item {
  background-color: var(--blw-gray100);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  padding: 0.3rem;
  margin-top: 0.5rem;
  transition: height 2s;
}

.poll-item p {
  font-style: italic;
}

.poll-item fieldset {
  border-width: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
}

.poll-item fieldset input {
  margin-right: 0.25rem;
}