input[type="checkbox"] {
  all: set;
  border: 2px solid black;
  width: 1em;
  height: 1em;
  color: black;
  display: inline;
}

input[type="checkbox"]:checked {
  background-color: var(--blw-whale);
}