.imp-viz-root {
  overflow: clip;
  height: 100%;
}

.imp-viz-vizarray {
  overflow: auto;
  height: 100%;
}

.impvar-canvas-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}