/* reset */
button,
fieldset,
input {
  all: unset;
}

.viztabs-root {
  flex: 1 1 auto;
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  background-color: var(--blw-gray000);
  border: 2px solid var(--blw-gray900);
}

.viztabs-tablist {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.viztabs-trigger {
  font-size: 1.2rem;
  flex: 1 0 auto;
  text-align: center;
  background-color: var(--blw-gray400);
  height: 2rem;
  color: var(--color-text);
  border: 1px solid black;
}

.viztabs-trigger[data-state="active"] {
  font-weight: 900;
  background-color: hsl(194, 25%, 75%);
  border-bottom-color: hsl(194, 25%, 75%);
}

.viztabs-trigger::first-child {
  border-top-left-radius: 0.5rem;
}

.viztabs-trigger::first-child {
  border-right: 2px solid var(--blw-gray900);
  border-left: 0px solid hsl(194, 25%, 75%);
}

.viztabs-trigger::last-child {
  border-top-right-radius: 0.5rem;
}

.viztabs-fullscreen-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  padding: 0.3rem;
}

.viztabs-fullscreen-button svg {
  width: 1rem;
  height: 1rem;
  stroke: var(--color-text);
  stroke-width: 0.3px;
}

.viztabs-content {
  overflow: hidden;
  height: 100%
}