.app-controls {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--blw-gray700);
  overflow: clip;
  flex: 0 0 auto;
}