.app-header {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 500;
  color: var(--blw-gray100);
  background: linear-gradient(0deg, var(--blw-gray700) 5%, var(--color-brand), var(--blw-gray100) 28%, var(--blw-gray700) 50%);
  width: 100%;
  flex: 0 0 3rem;
}