.app-header {
  text-align: center;
  font-size: 1.7rem;
  color: var(--blw-gray100);
  background: linear-gradient(0deg, var(--blw-gray500) 5%, var(--color-brand), var(--blw-gray100) 30%, var(--blw-gray500) 50%);
  width: 100%;
  height: 3rem
}