.intro-paragraph {
  overflow: auto;
  margin-top: 0.5rem;
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: var(--blw-gray100);
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.intro-paragraph p {
  margin-bottom: 1rem;
  max-width: 60ch;
  font-size: 1rem;
  color: var(--color-text)
}

.intro-paragraph p button {
  float: right;
  background-color: var(--blw-gray300);
  color: var(--color-text);
  font-size: 0.9rem;
  padding: 0.25rem;
  border: 2px solid var(--color-text);
  height: auto;
  max-width: 15ch;
  border-radius: 1rem;
  margin-top: 0.5rem;
}

.intro-paragraph p button:focus-visible {
  outline: 2px solid var(--color-brand);
  border-radius: 1rem;
}