#root {
  max-width: 1200px;
  margin: 0 auto;
  overflow: clip;
}

.app {
  background-color: var(--blw-gray700);
  height: 100vh;
  max-height: 100vh;
  overflow: clip;
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: start;
  gap: 0.25rem;
  width: 100vw;
}

@media (900px < width <=1200px) {
  .app {
    width: 899px;
  }
}

@media (1200px < width) {
  .app {
    width: 1150px;
  }
}